<div class="hero">

  <!-- NAV -->
  <div class="nav">
    <div class="logo">
      <img src="assets/via-niolas.png" alt="Via Nicolas logo" class="logo-img" />
    </div>
  </div>

  <!-- HERO CONTENT -->
  <div class="content">

    <h1 class="fade-in">
      Your Journey Begins <br /><span>Via Nicolas</span>
    </h1>

    <p class="fade-in delay">
      Get ready for our grand opening on June 6th, 2026! Discover luxury travel experiences crafted for unforgettable destinations.
    </p>

    <div class="location fade-in delay">
      <a href="https://www.google.com/maps/place/34%C2%B032'26.8%22N+36%C2%B004'38.8%22E/@34.5406513,36.077375,19.75z/data=!4m4!3m3!8m2!3d34.5407829!4d36.077446?hl=en&entry=ttu&g_ep=EgoyMDI2MDQyOS4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="location-card">
        <span class="location-icon" aria-hidden="true">📍</span>
        <div class="location-text">
          <h3>Open Location</h3>
          <p>Akkar Halba - Via Nicolas</p>
        </div>
        <span class="location-action">Open map</span>
      </a>
    </div>

    <!-- COUNTDOWN -->
    <!-- <div class="countdown slide-up">

      <div class="box">
        <h2>{{ timeLeft.days }}</h2>
        <span>Days</span>
      </div>

      <div class="box">
        <h2>{{ timeLeft.hours }}</h2>
        <span>Hours</span>
      </div>

      <div class="box">
        <h2>{{ timeLeft.minutes }}</h2>
        <span>Min</span>
      </div>

      <div class="box">
        <h2>{{ timeLeft.seconds }}</h2>
        <span>Sec</span>
      </div>

    </div>

    <button class="cta pulse">Opening 06 • June • 2026 at 7:00 PM</button>

  </div> -->

  <!-- FLOATING BACKGROUND ELEMENTS -->
  <div class="floating f1"></div>
  <div class="floating f2"></div>
  <div class="floating f3"></div>

</div>